:root {
  --color-white: #fff;
  --color-gray-1: #f4f4f4;
  --color-gray-2: #e0e0e0;
  --color-gray-3: #bdbdbd;
  --color-gray-4: #828282;
  --color-gray-5: #4f4f4f;
  --color-gray-6: #333333;

  --color-orange-1: #f8ecdc;
  --color-orange-2: #faceb3;
  --color-orange-3: #fdb18b;
  --color-orange-4: #ff9362;

  --color-purple-1: #ded5ff;
  --color-purple-2: #b19dff;
  --color-purple-3: #8566ff;
  --color-purple-4: #582eff;
  --color-purple-5: #462fc8;

  --color-green-1: #e0f7f1;
  --color-green-2: #a6e6d6;
  --color-green-3: #6bd6bc;
  --color-green-4: #31c5a1;
  --color-green-5: #29a486;
  --color-green-6: #21836a;

  --color-danger: #b50000;
  --color-border: #e9e9e9;
  --color-success: #2ecc71;
  --color-danger: #e74c3c;
  --color-info: #3498db;
  --color-warning: #ffbe76;
}
