<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Merchant Consent To Fees</title>
    <style>
      :root,
      body {
        padding: 24px;
        margin: 0;
        font: 'Arial';
      }
    </style>
  </head>
  <body>
    <h2>MERCHANT CONSENT TO FEES</h2>

    <h3 style="font-weight: normal">1. AGREEMENT TO TERMS</h3>

    <p>
      These Terms of Use constitute a legally binding agreement made between
      you, whether personally or on behalf of an entity (“you”) and Mirza
      Funding ("Company", “we”, “us”, or “our”), concerning your access to and
      use of the
      <a href="http://www.heymirza.com"> http://www.heymirza.com </a>
      website as well as any other media form, media channel, mobile website or
      mobile application related, linked, or otherwise connected thereto
      (collectively, the “Site”). We are registered in Nevada and have our
      registered office at 455 E Pebble Rd, #230912, Las Vegas 89123. You agree
      that by accessing the Site, you have read, understood, and agree to be
      bound by all of these Terms of Use, including the
      <a href="https://heymirza.com/terms-of-use">
        https://heymirza.com/terms-of-use
      </a>
      posted on the Site, which are incorporated into these Terms of Use. IF YOU
      DO NOT AGREE WITH ALL OF THESE TERMS OF USE, THEN YOU ARE EXPRESSLY
      PROHIBITED FROM USING THE SITE AND YOU MUST DISCONTINUE USE IMMEDIATELY.
    </p>

    <h3 style="font-weight: normal">2. FEES AND PAYMENT</h3>

    <p>We accept the following forms of payment:</p>
    <ul>
      <li>Automated Clearing House (ACH)</li>
      <li>Credit Card; Visa, Mastercard, American Express, Discover</li>
    </ul>
    <p>
      You may be required to purchase or pay a fee to access some of our
      services. You agree to provide current, complete, and accurate purchase
      and account information for all purchases made via the Site. You further
      agree to promptly update account and payment information, including email
      address, payment method, and payment card expiration date, so that we can
      complete your transactions and contact you as needed. We bill you through
      an online billing account for purchases made via the Site. Sales tax will
      be added to the price of purchases as deemed required by us. We may change
      prices at any time. All payments shall be in U.S. dollars.
    </p>
    <p>
      You agree to pay all charges or fees at the prices then in effect for your
      purchases, and you authorize us to charge your chosen payment provider for
      any such amounts upon making your purchase. If your purchase is subject to
      recurring charges, then you consent to our charging your payment method on
      a recurring basis without requiring your prior approval for each recurring
      charge, until you notify us of your cancellation.
    </p>
    <p>
      We reserve the right to correct any errors or mistakes in pricing, even if
      we have already requested or received payment. We also reserve the right
      to refuse any order placed through the Site.
    </p>

    <h3 style="font-weight: normal">3. FREE TRIAL</h3>

    <p>
      We may offer a free trial to new users who register with the Site. The
      account will be charged according to the user’s chosen subscription at the
      end of the free trial.
    </p>

    <h3 style="font-weight: normal">4. CANCELLATION</h3>

    <p>
      All purchases are non-refundable. You can cancel your subscription at any
      time by logging into your account or contacting us using the contact
      information provided below. Your cancellation will take effect at the end
      of the current paid term.
    </p>
    <p>
      Your cancellation will take effect at the end of the current paid term.
    </p>
    <p>
      If you are unsatisfied with our services, please email us at
      <br />
      support@heymirza.com or call us at 855-294-2900.
    </p>

    <h3 style="font-weight: normal">5. TERM AND TERMINATION</h3>

    <p>
      These Terms of Use shall remain in full force and effect while you use the
      Site. WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS OF USE, WE
      RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT NOTICE OR
      LIABILITY, DENY ACCESS TO AND USE OF THE SITE (INCLUDING BLOCKING CERTAIN
      IP ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING
      WITHOUT LIMITATION FOR BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT
      CONTAINED IN THESE TERMS OF USE OR OF ANY APPLICABLE LAW OR REGULATION. WE
      MAY TERMINATE YOUR USE OR PARTICIPATION IN THE SITE OR DELETE YOUR ACCOUNT
      AND ANY CONTENT OR INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT
      WARNING, IN OUR SOLE DISCRETION.
    </p>
    <p>
      If we terminate or suspend your account for any reason, you are prohibited
      from registering and creating a new account under your name, a fake or
      borrowed name, or the name of any third party, even if you may be acting
      on behalf of the third party. In addition to terminating or suspending
      your account, we reserve the right to take appropriate legal action,
      including without limitation pursuing civil, criminal, and injunctive
      redress.
    </p>

    <h3 style="font-weight: normal">6. MODIFICATIONS AND INTERRUPTIONS</h3>

    <p>
      We reserve the right to change, modify, or remove the fees of the Site at
      any time or for any reason at our sole discretion without notice. However,
      we have no obligation to update any information on our Site. We also
      reserve the right to modify or discontinue all or part of the Site without
      notice at any time. We will not be liable to you or any third party for
      any modification, price change, suspension, or discontinuance of the Site.
    </p>

    <h3 style="font-weight: normal">7. GOVERNING LAW</h3>

    <p>
      These Terms of Use and your use of the Site are governed by and construed
      in accordance with the laws of the State of Arizona applicable to
      agreements made and to be entirely performed within the State of Arizona,
      without regard to its conflict of law principles.
    </p>

    <h3 style="font-weight: normal">8. LIMITATIONS OF LIABILITY</h3>

    <p>
      IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO
      YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, EXEMPLARY,
      INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT, LOST
      REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR USE OF THE SITE,
      EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
      NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY
      TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION,
      WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU TO US
      DURING THE SIX (6) MONTH PERIOD PRIOR TO ANY CAUSE OF ACTION ARISING.
      CERTAIN US STATE LAWS AND INTERNATIONAL LAWS DO NOT ALLOW LIMITATIONS ON
      IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF
      THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS OR
      LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.
    </p>

    <h3 style="font-weight: normal">9. INDEMNIFICATION</h3>

    <p>
      You agree to defend, indemnify, and hold us harmless, including our
      subsidiaries, affiliates, and all of our respective officers, agents,
      partners, and employees, from and against any loss, damage, liability,
      claim, or demand, including reasonable attorneys’ fees and expenses, made
      by any third party due to or arising out of: (1) use of the Site; (2)
      breach of these Terms of Use; (3) any breach of your representations and
      warranties set forth in these Terms of Use; (4) your violation of the
      rights of a third party, including but not limited to intellectual
      property rights; or (5) any overt harmful act toward any other user of the
      Site with whom you connected via the Site. Notwithstanding the foregoing,
      we reserve the right, at your expense, to assume the exclusive defense and
      control of any matter for which you are required to indemnify us, and you
      agree to cooperate, at your expense, with our defense of such claims. We
      will use reasonable efforts to notify you of any such claim, action, or
      proceeding which is subject to this indemnification upon becoming aware of
      it.
    </p>

    <h3 style="font-weight: normal">CONTACT US</h3>

    <p>
      In order to resolve a complaint regarding the Site or to receive further
      information regarding use of the Site, please contact us at:
    </p>

    <p style="margin: 0">Mirza Funding</p>
    <p style="margin: 0">455 E Pebble Rd</p>
    <p style="margin: 0">#230912</p>
    <p style="margin: 0">Las Vegas 89123</p>
    <p style="margin: 0">Phone: 855-294-2900</p>
    <a href="mailto:support@heymirza.com">
      support@heymirza.com
    </a>

    <p style="margin: 48px 0px 0px 0px">Merchant Name: {{merchant.name}}</p>
    <p style="margin: 0">Owner's name: {{merchant.contactName}}</p>
    <p style="margin: 0">Address: {{merchant.address}}</p>
    <p style="margin: 0">Date: {{today}}</p>
    <p style="margin: 0">IP: {{ip}}</p>
  </body>
</html>
