<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SMS Policy</title>
    <style>
      :root,
      body {
        padding: 24px;
        margin: 0;
        font: 'Arial';
      }
    </style>
  </head>
  <body>
    <h3>TCPA SMS Policy</h3>
    <h4>
      Telephone Consumer Protection Act (TCPA) Privacy and Consent for
      SMS/Texting
    </h4>

    <p>
      Notwithstanding any current or prior election to opt in or opt out of
      receiving telemarketing calls or SMS messages (including text messages)
      from Mirza, our agents, representatives, affiliates, or anyone calling on
      our behalf, you expressly consent to be contacted by us, our agents,
      representatives, affiliates, or anyone calling on our behalf for any and
      all purposes arising out of or relating to your loan and/or account, at
      any telephone number, or physical or electronic address you provide or at
      which you may be reached.
    </p>

    <p>
      You agree we may contact you in any way, including SMS messages (including
      text messages), calls using pre-recorded messages or artificial voice, and
      calls and messages delivered using auto telephone dialing system, ringless
      voicemail system or an automatic texting system.
    </p>

    <p>
      Automated messages may be played when the telephone is answered whether by
      you or someone else. If an agent or representative calls, he or she may
      also leave a message on your answering machine, voice mail, or send one
      via text.
    </p>

    <p>
      You consent to receive SMS messages (including text messages), calls and
      messages (including prerecorded and artificial voice and autodialed) from
      us, our agents, representatives, affiliates, or anyone calling on our
      behalf at the specific number(s) you have provided to us, or numbers we
      can reasonably associate with your account (through skip trace, caller ID
      capture or other means), with information or questions about your
      application, loan and/or account.
    </p>

    <p>
      You certify, warrant and represent that the telephone numbers that you
      have provided to us are your contact numbers. You represent that you are
      permitted and consent to receive calls at each of the telephone numbers
      you have provided to us.
    </p>

    <p>
      You agree to promptly alert us whenever you stop using a particular
      telephone number.
    </p>

    <p>
      Your cellular or mobile telephone provider will charge you according to
      the type of plan you carry.
    </p>

    <p>
      You also agree that we may contact you by email, using any email address
      you have provided to us or that you provide to us in the future.
    </p>
    <p>
      We may listen to and/or record phone calls between you and our
      representatives without notice to you as permitted by applicable law. For
      example, we listen to and record calls for quality monitoring purposes.
    </p>

    <p>
      To ensure that consumer’s inquiries are handled promptly, courteously, and
      accurately, some of the phone calls between you and us or any of our
      affiliates, agents, assigns and service providers, may be monitored and
      recorded by us and any of our affiliates, agents, assigns and service
      providers, to enhance service to you. You consent to this monitoring and
      recording. You agree that Mirza (“us”, “we”, or “our”) may from time to
      time make calls and/or send text messages to you at any telephone number
      associated with your account, including wireless telephone numbers that
      could result in charges to you. The way these calls, or text messages are
      made to you may include, but is not limited to, the use of
      pre-recorded/artificial voice messages and/or automatic telephone dialing
      system. You further agree that we may send emails to you at any email
      address you provide us or use other electronic means of communication to
      the extent permitted by law. Consent may be revoked at any time and by any
      reasonable means.
    </p>

    <h4>Consent For SMS Texting</h4>

    <p>
      If a mobile number is provided, we may text you, via one-to-one to cell
      phones, using group text application or through office lines or online
      phone systems using any type of automated SMS Text messaging platform
      either via one-to-one or as a mass SMS Text to multiple mobile numbers at
      one time information about your application or loan either as a lead or a
      loan in process before, during and/or after your loan is closed and/or
      funded. You also agree to receive updates about business conditions and
      from time to time follow up SMS/Text messages concerning but not limited
      to any type of marketing information, industry updates, holiday
      announcements, and requests to refer to our services. We do not charge to
      send or receive text messages as part of our application process. However,
      messages and data rates may apply. Please consult with your wireless
      carrier for applicable text messaging fees.
    </p>

    <p>
      Once your mobile device has been activated, you may reply STOP to opt-out
      of automated messages, or you may call (855) 294-2900. To request
      additional information, text HELP to the message you receive or contact us
      by telephone at(855) 294-2900.
    </p>

    <p>
      We may modify or terminate our text messaging services from time to time,
      for any reason and without notice, including the right to terminate text
      messaging without notice, without liability to you, any other user or a
      third party. We reserve the right to modify these Terms of Use from time
      to time without notice. Please review these Terms of Use from time to time
      so that you are updated of any changes.
    </p>

    <p>
      Additionally, you agree that we may send any SMS Statement Notifications
      through your communication service provider to deliver them to you. You
      agree to provide a valid mobile phone number for these services. You
      further agree to indemnify, defend, and hold us harmless from and against
      all claims, losses, liability, costs, and expenses (including reasonable
      attorneys’ fee) arising from your provision of a mobile phone number that
      is not your own or your violation of applicable federal, state, or local
      law, regulation, or ordinance. Your obligation under this paragraph shall
      survive termination of this Agreement. SMS Statement Notifications are
      provided for your convenience only.
    </p>

    <p>
      Your consent here also serves as your express written consent to your past
      receipt of electronic communications from us.
    </p>

    <p style="margin-bottom: 0">You represent and warrant that:</p>
    <ul style="margin-top: 0">
      <li>You are at least 18 years old.</li>
      <li>You reside in the United States.</li>
      <li>
        You have not registered on a national or statewide Do Not Call registry.
      </li>
      <li>
        You are the account holder for the email addresses and phone numbers you
        provided, or you have authorization from the account holder to give this
        consent.
      </li>
      <li>
        The email addresses and phone numbers you provided are accurate, and you
        will let us know if you release them to another person or individual.
      </li>
      <li>
        Our mobile service is available only in certain states. Certain mobile
        features may be incompatible with your carrier or mobile device. Contact
        your carrier with questions regarding these issues.
      </li>
    </ul>

    <p style="margin-bottom: 0">Date: {{today}}</p>
    <p style="margin-top: 0">IP: {{ip}}</p>
  </body>
</html>
